extends ../component

block content
  span #{student.name}
  br
  span Секс: #{student.sex}
  br
  span Возраст: #{student.age}
  hr
  a(href=`/students?groupId=${groupId}&updating=${student.id}` class='button') Update
  if updating === student.id
    include ../forms/update/update-student
  a(href=`/students?groupId=${groupId}&studentId=${student.id}&_method=DELETE` class='button') Delete
